@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

$font-headline: 'Orbitron', sans-serif;
$font-console: 'Cutive Mono', monospace;
$font-default: 'Roboto Slab', serif;
$font-size-default: 12px;
