$color-fg: rgba(43, 42, 42, 1);
$color-fg-color: rgba(110, 140, 61, 1);
$color-fg-highlight: rgba(126, 55, 89, 1);
$color-bg-light: rgb(243, 242, 239);
$color-bg-dark: rgba(205, 210, 195, 1);

$main-bg-color: $color-bg-light;
$main-border-radius: 0.5em;
